* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  background: #eeeeee;
}

h2 {
  color: #ffffff;
  line-height: 70px;
  padding-left: 100px;
  position: fixed;
  background: #1d1d1d;
  width: 100%;
  height: 70px;
  opacity: 0.8;
  z-index: 100;
}

.container {
  width: 1700px;
  padding-left: 100px;
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.box {
  position: relative;
  width: 320px;
  height: 320px;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.imgBox {
  width: 100%;
  height: 50%;
  background: #f3f3f3;
}

.title {
  color: #000000;
  margin-top: 20px;
  margin-left: 9px;
}

.contents {
  margin: 0 auto;
  width: 94%;
  height: 3.6em;
  margin-top: 5px;
  overflow: hidden;
  white-space: normal;
  line-height: 1.2;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #a5a5a5;
}

hr {
  position: absolute;
  bottom: 15%;
  width: 100%;
  background-color: #000000;
}

.name {
  position: absolute;
  bottom: 0;
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
}

.date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
}
